<html>
    <head>
        <title>HOME</title>
    </head>
    <body>
        <h1>Perhatikan Contoh dibawah ini</h1>
        <ul>
            <li>
                <a href="{% url 'blog:index' %}">Blog</a>
            </li>
            <li>
                <a href="/admin">Admin</a>
            </li>
            <li>
                <a href="{% url 'contact:index' %}">Contact Form</a>
            </li>
            <li>
                <a href="{% url 'sosmed:index' %}">Sosmed Crud</a>
            </li>
        </ul>
    </body>
</html>